.title-card{
    text-align: center;
}

.card{
    margin: 20px auto;
    display: flex;
    width: 1500px;
}

.prod-card{
    background: #000;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 250px;
}